.listData__icon {
  text-align: center;
  margin-top: 25vh;
  opacity: 0.2;
}

/* Table: */
.listData__table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.listData__table_container table {
  width: 50vw;
  max-height: 95vh;
}

.listData__table th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.listData__table tr:hover {background-color: #f5f5f5;}
